# Dependency Review Action
#
# This Action will scan dependency manifest files that change as part of a Pull Request,
# surfacing known-vulnerable versions of the packages declared or updated in the PR.
# Once installed, if the workflow run is marked as required,
# PRs introducing known-vulnerable packages will be blocked from merging.
#
# Source repository: https://github.com/actions/dependency-review-action
name: Security - Dependency Review
on:
    merge_group:
    pull_request:

permissions:
    contents: read

jobs:
    dependency-review:
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@v2.7.0
              with:
                  egress-policy: audit

            # checks out the repository
            - uses: actions/checkout@v4
              with:
                  submodules: 'recursive'
                  token: ${{ secrets.BOT_TOKEN || github.token }} # Bot Token is a PAT for a automation account.

            - name: 'Dependency Review'
              uses: actions/dependency-review-action@v2.5.1
